In [21]:
import numpy as np
import pandas as pd
import tqdm
import math

In [4]:
df = pd.read_csv("./de/full_data/dataset.csv")

In [42]:
df.keys()

Index(['Unnamed: 0', 'locat', 'price', 'paycode', 'make', 'oost', 'mpt', 'mvi',
       'split_pay_amt', 'split_pay_code', 'depositnum', 'workdaynum',
       'manual_entry', 'earlybird', 'correctedpayment', 'rateid', 'lane',
       'facility', 'extralng1', 'extracur1', 'extrastr1', 'freespot',
       'converted', 'vehiclemodel', 'nightmonthly', 'originalprice',
       'mpsreplacement ', 'ccdaccount', 'ccdexpdate', 'ccdmanualentry',
       'previouspayments', 'prepayamount', 'prepaycode', 'shiftid',
       'thepricewascorrected', 'checkinws', 'checkoutws', 'oldpaycode',
       'correctiontime', 'splitpayment', 'hasrefund', 'refundamnt',
       'receiptsprinted', 'rushmode', 'ratedescription', 'eventratemode',
       'paymentdescription', 'facilitysection', 'facilitylocation', 'exitused',
       'prepayversion', 'uptohours', 'pdamount', 'oversizeamount',
       'ppccreader', 'coupontype', 'couponvalue', 'stickernumber',
       'checkincard', 'checkoutcard', 'prepayccdaccount', 'changedue',
       'taxrate', 'firstcalculatedprice', 'holiday'],
      dtype='object')

In [45]:
df.values[0, :]

array([0, 705, 0.0, 9, 'BMW', 0, nan, nan, 0.0, nan, 1, 155, 0, 0, 0, 0,
       0, 0, 0, 0.0, nan, 0, 0, 4, 0, 0.0, nan, '    ', '    ', 0, 0.0,
       0.0, nan, 4254, 0, 12, 12, nan, nan, 0, 0, 0.0, 0, 0, nan, 0,
       'Monthly', '  ', '    ', ' ', nan, '     ', 0.0, 0.0, 0, nan, nan,
       '20', 'CheckinCheckout', 'POS012 ', ' ', 0.0, 18.375, 0.0, 0],
      dtype=object)

In [51]:
string_index=[]
for n, i in enumerate(df.values[0, :]):
    if isinstance(i, float) or isinstance(i, int):
        pass
    else:
        string_index.append(n)

In [52]:
string_index

[4, 27, 28, 46, 47, 48, 49, 51, 57, 58, 59, 60]

In [53]:
df.values[:, 4]

array(['BMW', 'Jeep', 'Benz', ..., 'Toyota', 'Benz', 'Jeep'], dtype=object)

In [54]:
li = []
for val in df.values[:, 4]:
    if val not in li:
        li.append(val)
    else:
        pass

In [55]:
li

['BMW',
 'Jeep',
 'Benz',
 'Chrys',
 'Ford',
 'Honda',
 'Audi',
 'Lexus',
 'Toyota',
 'Chevy',
 'Mazda',
 'Infini',
 'Tesla',
 'Volvo',
 'Other',
 'Nissan',
 'Buick',
 'Hyundai',
 'Caddy',
 'Kia',
 'Subaru',
 'Merc',
 'Dodge',
 'Volks',
 'Lincoln',
 'Acura',
 'Mini Coope',
 'Porsche',
 'Mitsu',
 'Rover',
 'Gmc',
 'Smart',
 'Jaguar',
 'Fiat',
 'Scion',
 'Oversize',
 'Saturn',
 'Bentley',
 'Pontiac',
 'Suzuki',
 'Saab',
 'Maserati',
 'Ferrari',
 'Truck',
 'Olds',
 'Bicycle',
 'Rolls',
 'Alfa Romeo',
 'Isuzu',
 'Motorcycle',
 'Superovers',
 'Cycle',
 'Plym',
 'Hummer',
 'SUV',
 'Geo',
 nan,
 'Maybach',
 'Lamborghin',
 'Aston Mart']

In [60]:
onehot_index_4=['Acura',
'Alfa Romeo',
'Aston Mart'
'Audi',
'BMW',
'Bentley',
'Benz',
'Bicycle',
'Buick',
'Caddy',
'Chevy',
'Chrys',
'Cycle',
'Dodge',
'Ferrari',
'Fiat',
'Ford',
'Geo',
'Gmc',
'Honda',
'Hummer',
'Hyundai',
'Infini',
'Isuzu',
'Jaguar',
'Jeep',
'Kia',
'Lamborghin',
'Lexus',
'Lincoln',
'Maserati',
'Maybach',
'Mazda',
'Merc',
'Mini Coope',
'Mitsu',
'Motorcycle',
'Nissan',
'Olds',
'Other',
'Oversize',
'Plym',
'Pontiac',
'Porsche',
'Rolls',
'Rover',
'SUV',
'Saab',
'Saturn',
'Scion',
'Smart',
'Subaru',
'Superovers',
'Suzuki',
'Tesla',
'Toyota',
'Truck',
'Volks',
'Volvo',
nan]

In [61]:
nan=li[-4]